.css_NM_Count_cnt_field {text-align: right}
.css_enrollcount_sum_label {text-align: right; vertical-align: top}
.css_enrollcount_sum_field {text-align: right; vertical-align: top}
.css_verifycount_sum_label {text-align: right; vertical-align: top}
.css_verifycount_sum_field {text-align: right; vertical-align: top}
