.css_access_token_det_label {text-align: left;vertical-align: middle;}
.css_access_token_det_line {height:0px;text-align: left;}
.css_client_id_det_label {text-align: left;vertical-align: middle;}
.css_client_id_det_line {height:0px;text-align: left;}
.css_user_id_det_label {text-align: left;vertical-align: middle;}
.css_user_id_det_line {height:0px;text-align: left;}
.css_expires_det_label {text-align: left;vertical-align: middle;}
.css_expires_det_line {height:0px;text-align: left;}
.css_scope_det_label {text-align: left;vertical-align: middle;}
.css_scope_det_line {height:0px;text-align: left;}
