.css_bolsaid_label { }
.css_bolsaid_line {text-align:left;}
.css_bolsaid_obj {text-align:left;}
.css_clienteid_label { }
.css_clienteid_line { }
.css_clienteid_obj { }
.css_cantidad_label { }
.css_cantidad_line {text-align:left;}
.css_cantidad_obj {text-align:left;}
.css_saldo_label { }
.css_saldo_line {text-align:left;}
.css_saldo_obj {text-align:left;}
.css_creationfecha_label { }
.css_creationfecha_line { }
.css_creationfecha_obj { }
.css_enrollcount_label { }
.css_enrollcount_line {text-align:left;}
.css_enrollcount_obj {text-align:left;}
.css_verifycount_label { }
.css_verifycount_line {text-align:left;}
.css_verifycount_obj {text-align:left;}
.css_actualizacionfecha_label { }
.css_actualizacionfecha_line { }
.css_actualizacionfecha_obj { }
