.css_bolsaid_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_bolsaid_grid_line {vertical-align: top;text-align: right;}
.css_clienteid_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_clienteid_grid_line {vertical-align: top;text-align: right;}
.css_cantidad_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cantidad_grid_line {vertical-align: top;text-align: right;}
.css_saldo_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_saldo_grid_line {vertical-align: middle;text-align: center;}
.css_enrollcount_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_enrollcount_grid_line {vertical-align: middle;text-align: center;}
.css_verifycount_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_verifycount_grid_line {vertical-align: middle;text-align: center;}
.css_creationfecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_creationfecha_grid_line {vertical-align: middle;text-align: center;}
.css_actualizacionfecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_actualizacionfecha_grid_line {vertical-align: middle;text-align: center;}
