.css_actualizaid_det_label {text-align: right;vertical-align: middle;}
.css_actualizaid_det_line {height:0px;text-align: right;}
.css_oldparameters_det_label {text-align: right;vertical-align: middle;}
.css_oldparameters_det_line {height:0px;text-align: right;}
.css_currentsql_det_label {text-align: right;vertical-align: middle;}
.css_currentsql_det_line {height:0px;text-align: right;}
.css_transactionid_det_label {text-align: right;vertical-align: middle;}
.css_transactionid_det_line {height:0px;text-align: right;}
.css_actualizafecha_det_label {text-align: right;vertical-align: middle;}
.css_actualizafecha_det_line {height:0px;text-align: right;}
.css_observacion_det_label {text-align: right;vertical-align: middle;}
.css_observacion_det_line {height:0px;text-align: right;}
