.css_client_id_det_label {text-align: left;vertical-align: middle;}
.css_client_id_det_line {height:0px;text-align: left;}
.css_client_secret_det_label {text-align: left;vertical-align: middle;}
.css_client_secret_det_line {height:0px;text-align: left;}
.css_redirect_uri_det_label {text-align: left;vertical-align: middle;}
.css_redirect_uri_det_line {height:0px;text-align: left;}
.css_grant_types_det_label {text-align: left;vertical-align: middle;}
.css_grant_types_det_line {height:0px;text-align: left;}
.css_scope_det_label {text-align: left;vertical-align: middle;}
.css_scope_det_line {height:0px;text-align: left;}
.css_user_id_det_label {text-align: left;vertical-align: middle;}
.css_user_id_det_line {height:0px;text-align: left;}
