.css_record_label {text-align:;}
.css_record_line {text-align:left;}
.css_record_obj {text-align:left;}
.css_uid_label { }
.css_uid_line { }
.css_uid_obj { }
.css_startingdate_label { }
.css_startingdate_line { }
.css_startingdate_obj { }
.css_creationdate_label { }
.css_creationdate_line { }
.css_creationdate_obj { }
.css_creationip_label { }
.css_creationip_line { }
.css_creationip_obj { }
.css_documenttype_label { }
.css_documenttype_line { }
.css_documenttype_obj { }
.css_idnumber_label { }
.css_idnumber_line { }
.css_idnumber_obj { }
.css_firstname_label { }
.css_firstname_line { }
.css_firstname_obj { }
.css_secondname_label { }
.css_secondname_line { }
.css_secondname_obj { }
.css_firstsurname_label { }
.css_firstsurname_line { }
.css_firstsurname_obj { }
.css_secondsurname_label { }
.css_secondsurname_line { }
.css_secondsurname_obj { }
.css_gender_label { }
.css_gender_line { }
.css_gender_obj { }
.css_birthdate_label { }
.css_birthdate_line { }
.css_birthdate_obj { }
.css_street_label { }
.css_street_line { }
.css_street_obj { }
.css_cedulatecondition_label { }
.css_cedulatecondition_line { }
.css_cedulatecondition_obj { }
.css_spouse_label { }
.css_spouse_line { }
.css_spouse_obj { }
.css_home_label { }
.css_home_line { }
.css_home_obj { }
.css_maritalstatus_label { }
.css_maritalstatus_line { }
.css_maritalstatus_obj { }
.css_dateofidentification_label { }
.css_dateofidentification_line { }
.css_dateofidentification_obj { }
.css_dateofdeath_label { }
.css_dateofdeath_line { }
.css_dateofdeath_obj { }
.css_marriagedate_label { }
.css_marriagedate_line { }
.css_marriagedate_obj { }
.css_instruction_label { }
.css_instruction_line { }
.css_instruction_obj { }
.css_placebirth_label { }
.css_placebirth_line { }
.css_placebirth_obj { }
.css_nationality_label { }
.css_nationality_line { }
.css_nationality_obj { }
.css_mothername_label { }
.css_mothername_line { }
.css_mothername_obj { }
.css_fathername_label { }
.css_fathername_line { }
.css_fathername_obj { }
.css_housenumber_label { }
.css_housenumber_line { }
.css_housenumber_obj { }
.css_profession_label { }
.css_profession_line { }
.css_profession_obj { }
.css_expeditioncity_label { }
.css_expeditioncity_line { }
.css_expeditioncity_obj { }
.css_expeditiondepartment_label { }
.css_expeditiondepartment_line { }
.css_expeditiondepartment_obj { }
.css_birthcity_label { }
.css_birthcity_line { }
.css_birthcity_obj { }
.css_birthdepartment_label { }
.css_birthdepartment_line { }
.css_birthdepartment_obj { }
.css_transactiontype_label { }
.css_transactiontype_line { }
.css_transactiontype_obj { }
.css_transactiontypename_label { }
.css_transactiontypename_line { }
.css_transactiontypename_obj { }
.css_issuedate_label { }
.css_issuedate_line { }
.css_issuedate_obj { }
.css_barcodetext_label { }
.css_barcodetext_line { }
.css_barcodetext_obj { }
.css_ocrtextsideone_label { }
.css_ocrtextsideone_line { }
.css_ocrtextsideone_obj { }
.css_ocrtextsidetwo_label { }
.css_ocrtextsidetwo_line { }
.css_ocrtextsidetwo_obj { }
.css_sideonewrongattempts_label { }
.css_sideonewrongattempts_line { }
.css_sideonewrongattempts_obj { }
.css_sidetwowrongattempts_label { }
.css_sidetwowrongattempts_line { }
.css_sidetwowrongattempts_obj { }
.css_foundonadoalert_label { }
.css_foundonadoalert_line { }
.css_foundonadoalert_obj { }
.css_adoprojectid_label { }
.css_adoprojectid_line { }
.css_adoprojectid_obj { }
.css_transactionid_label { }
.css_transactionid_line { }
.css_transactionid_obj { }
.css_productid_label { }
.css_productid_line { }
.css_productid_obj { }
.css_comparationfacessuccesful_label { }
.css_comparationfacessuccesful_line { }
.css_comparationfacessuccesful_obj { }
.css_facefound_label { }
.css_facefound_line { }
.css_facefound_obj { }
.css_facedocumentfrontfound_label { }
.css_facedocumentfrontfound_line { }
.css_facedocumentfrontfound_obj { }
.css_barcodefound_label { }
.css_barcodefound_line { }
.css_barcodefound_obj { }
.css_resultcomparationfaces_label { }
.css_resultcomparationfaces_line { }
.css_resultcomparationfaces_obj { }
.css_comparationfacesaproved_label { }
.css_comparationfacesaproved_line { }
.css_comparationfacesaproved_obj { }
.css_extras_label { }
.css_extras_line { }
.css_extras_obj { }
.css_numberphone_label { }
.css_numberphone_line { }
.css_numberphone_obj { }
.css_codfingerprint_label { }
.css_codfingerprint_line { }
.css_codfingerprint_obj { }
.css_resultqrcode_label { }
.css_resultqrcode_line { }
.css_resultqrcode_obj { }
.css_dactilarcode_label { }
.css_dactilarcode_line { }
.css_dactilarcode_obj { }
.css_reponsecontrollist_label { }
.css_reponsecontrollist_line { }
.css_reponsecontrollist_obj { }
.css_images_label { }
.css_images_line { }
.css_images_obj { }
.css_signeddocuments_label { }
.css_signeddocuments_line { }
.css_signeddocuments_obj { }
.css_scores_label { }
.css_scores_line { }
.css_scores_obj { }
.css_response_ani_label { }
.css_response_ani_line { }
.css_response_ani_obj { }
.css_parameters_label { }
.css_parameters_line { }
.css_parameters_obj { }
.css_statesignaturedocument_label { }
.css_statesignaturedocument_line { }
.css_statesignaturedocument_obj { }
.css_json_response_label { }
.css_json_response_line { }
.css_json_response_obj { }
.css_verifyupdate_label {text-align:;}
.css_verifyupdate_line {text-align:left;}
.css_verifyupdate_obj {text-align:left;}
.css_estadoreg_label { }
.css_estadoreg_line { }
.css_estadoreg_obj { }
