.css_authorization_code_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_authorization_code_grid_line {vertical-align: top;text-align: left;}
.css_client_id_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_client_id_grid_line {vertical-align: top;text-align: left;}
.css_user_id_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_user_id_grid_line {vertical-align: top;text-align: left;}
.css_expires_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_expires_grid_line {vertical-align: top;text-align: center;}
.css_scope_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_scope_grid_line {vertical-align: top;text-align: left;}
.css_redirect_uri_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_redirect_uri_grid_line {vertical-align: top;text-align: left;}
.css_id_token_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_id_token_grid_line {vertical-align: top;text-align: left;}
