.css_authorization_code_det_label {text-align: right;vertical-align: middle;}
.css_authorization_code_det_line {height:0px;text-align: right;}
.css_client_id_det_label {text-align: right;vertical-align: middle;}
.css_client_id_det_line {height:0px;text-align: right;}
.css_user_id_det_label {text-align: right;vertical-align: middle;}
.css_user_id_det_line {height:0px;text-align: right;}
.css_redirect_uri_det_label {text-align: right;vertical-align: middle;}
.css_redirect_uri_det_line {height:0px;text-align: right;}
.css_expires_det_label {text-align: right;vertical-align: middle;}
.css_expires_det_line {height:0px;text-align: right;}
.css_scope_det_label {text-align: right;vertical-align: middle;}
.css_scope_det_line {height:0px;text-align: right;}
.css_id_token_det_label {text-align: right;vertical-align: middle;}
.css_id_token_det_line {height:0px;text-align: right;}
