.css_client_id_det_label {text-align: left;vertical-align: middle;}
.css_client_id_det_line {height:0px;text-align: left;}
.css_subject_det_label {text-align: left;vertical-align: middle;}
.css_subject_det_line {height:0px;text-align: left;}
.css_public_key_det_label {text-align: left;vertical-align: middle;}
.css_public_key_det_line {height:0px;text-align: left;}
