.css_username_det_label {text-align: right;vertical-align: middle;}
.css_username_det_line {height:0px;text-align: right;}
.css_password_det_label {text-align: right;vertical-align: middle;}
.css_password_det_line {height:0px;text-align: right;}
.css_name_det_label {text-align: right;vertical-align: middle;}
.css_name_det_line {height:0px;text-align: right;}
.css_given_name_det_label {text-align: right;vertical-align: middle;}
.css_given_name_det_line {height:0px;text-align: right;}
.css_family_name_det_label {text-align: right;vertical-align: middle;}
.css_family_name_det_line {height:0px;text-align: right;}
.css_uid_det_label {text-align: right;vertical-align: middle;}
.css_uid_det_line {height:0px;text-align: right;}
.css_transactionid_det_label {text-align: right;vertical-align: middle;}
.css_transactionid_det_line {height:0px;text-align: right;}
.css_picture_det_label {text-align: right;vertical-align: middle;}
.css_picture_det_line {height:0px;text-align: right;}
