.css_username_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_username_grid_line {vertical-align: top;text-align: left;}
.css_name_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_name_grid_line {vertical-align: top;text-align: left;}
.css_given_name_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_given_name_grid_line {vertical-align: top;text-align: left;}
.css_family_name_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_family_name_grid_line {vertical-align: top;text-align: left;}
.css_uid_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_uid_grid_line {vertical-align: top;text-align: left;}
.css_transactionid_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_transactionid_grid_line {vertical-align: top;text-align: right;}
.css_picture_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_picture_grid_line {vertical-align: top;text-align: left;}
