.css_record_det_label {text-align: right;vertical-align: middle;}
.css_record_det_line {height:0px;text-align: right;}
.css_uid_det_label {text-align: right;vertical-align: middle;}
.css_uid_det_line {height:0px;text-align: right;}
.css_startingdate_det_label {text-align: right;vertical-align: middle;}
.css_startingdate_det_line {height:0px;text-align: right;}
.css_creationdate_det_label {text-align: right;vertical-align: middle;}
.css_creationdate_det_line {height:0px;text-align: right;}
.css_creationip_det_label {text-align: right;vertical-align: middle;}
.css_creationip_det_line {height:0px;text-align: right;}
.css_documenttype_det_label {text-align: right;vertical-align: middle;}
.css_documenttype_det_line {height:0px;text-align: right;}
.css_idnumber_det_label {text-align: right;vertical-align: middle;}
.css_idnumber_det_line {height:0px;text-align: right;}
.css_firstname_det_label {text-align: right;vertical-align: middle;}
.css_firstname_det_line {height:0px;text-align: right;}
.css_secondname_det_label {text-align: right;vertical-align: middle;}
.css_secondname_det_line {height:0px;text-align: right;}
.css_firstsurname_det_label {text-align: right;vertical-align: middle;}
.css_firstsurname_det_line {height:0px;text-align: right;}
.css_secondsurname_det_label {text-align: right;vertical-align: middle;}
.css_secondsurname_det_line {height:0px;text-align: right;}
.css_gender_det_label {text-align: right;vertical-align: middle;}
.css_gender_det_line {height:0px;text-align: right;}
.css_birthdate_det_label {text-align: right;vertical-align: middle;}
.css_birthdate_det_line {height:0px;text-align: right;}
.css_street_det_label {text-align: right;vertical-align: middle;}
.css_street_det_line {height:0px;text-align: right;}
.css_cedulatecondition_det_label {text-align: right;vertical-align: middle;}
.css_cedulatecondition_det_line {height:0px;text-align: right;}
.css_spouse_det_label {text-align: right;vertical-align: middle;}
.css_spouse_det_line {height:0px;text-align: right;}
.css_home_det_label {text-align: right;vertical-align: middle;}
.css_home_det_line {height:0px;text-align: right;}
.css_maritalstatus_det_label {text-align: right;vertical-align: middle;}
.css_maritalstatus_det_line {height:0px;text-align: right;}
.css_dateofidentification_det_label {text-align: right;vertical-align: middle;}
.css_dateofidentification_det_line {height:0px;text-align: right;}
.css_dateofdeath_det_label {text-align: right;vertical-align: middle;}
.css_dateofdeath_det_line {height:0px;text-align: right;}
.css_marriagedate_det_label {text-align: right;vertical-align: middle;}
.css_marriagedate_det_line {height:0px;text-align: right;}
.css_instruction_det_label {text-align: right;vertical-align: middle;}
.css_instruction_det_line {height:0px;text-align: right;}
.css_placebirth_det_label {text-align: right;vertical-align: middle;}
.css_placebirth_det_line {height:0px;text-align: right;}
.css_nationality_det_label {text-align: right;vertical-align: middle;}
.css_nationality_det_line {height:0px;text-align: right;}
.css_mothername_det_label {text-align: right;vertical-align: middle;}
.css_mothername_det_line {height:0px;text-align: right;}
.css_fathername_det_label {text-align: right;vertical-align: middle;}
.css_fathername_det_line {height:0px;text-align: right;}
.css_housenumber_det_label {text-align: right;vertical-align: middle;}
.css_housenumber_det_line {height:0px;text-align: right;}
.css_profession_det_label {text-align: right;vertical-align: middle;}
.css_profession_det_line {height:0px;text-align: right;}
.css_expeditioncity_det_label {text-align: right;vertical-align: middle;}
.css_expeditioncity_det_line {height:0px;text-align: right;}
.css_expeditiondepartment_det_label {text-align: right;vertical-align: middle;}
.css_expeditiondepartment_det_line {height:0px;text-align: right;}
.css_birthcity_det_label {text-align: right;vertical-align: middle;}
.css_birthcity_det_line {height:0px;text-align: right;}
.css_birthdepartment_det_label {text-align: right;vertical-align: middle;}
.css_birthdepartment_det_line {height:0px;text-align: right;}
.css_transactiontype_det_label {text-align: right;vertical-align: middle;}
.css_transactiontype_det_line {height:0px;text-align: right;}
.css_transactiontypename_det_label {text-align: right;vertical-align: middle;}
.css_transactiontypename_det_line {height:0px;text-align: right;}
.css_issuedate_det_label {text-align: right;vertical-align: middle;}
.css_issuedate_det_line {height:0px;text-align: right;}
.css_barcodetext_det_label {text-align: right;vertical-align: middle;}
.css_barcodetext_det_line {height:0px;text-align: right;}
.css_ocrtextsideone_det_label {text-align: right;vertical-align: middle;}
.css_ocrtextsideone_det_line {height:0px;text-align: right;}
.css_ocrtextsidetwo_det_label {text-align: right;vertical-align: middle;}
.css_ocrtextsidetwo_det_line {height:0px;text-align: right;}
.css_sideonewrongattempts_det_label {text-align: right;vertical-align: middle;}
.css_sideonewrongattempts_det_line {height:0px;text-align: right;}
.css_sidetwowrongattempts_det_label {text-align: right;vertical-align: middle;}
.css_sidetwowrongattempts_det_line {height:0px;text-align: right;}
.css_foundonadoalert_det_label {text-align: right;vertical-align: middle;}
.css_foundonadoalert_det_line {height:0px;text-align: right;}
.css_adoprojectid_det_label {text-align: right;vertical-align: middle;}
.css_adoprojectid_det_line {height:0px;text-align: right;}
.css_transactionid_det_label {text-align: right;vertical-align: middle;}
.css_transactionid_det_line {height:0px;text-align: right;}
.css_productid_det_label {text-align: right;vertical-align: middle;}
.css_productid_det_line {height:0px;text-align: right;}
.css_comparationfacessuccesful_det_label {text-align: right;vertical-align: middle;}
.css_comparationfacessuccesful_det_line {height:0px;text-align: right;}
.css_facefound_det_label {text-align: right;vertical-align: middle;}
.css_facefound_det_line {height:0px;text-align: right;}
.css_facedocumentfrontfound_det_label {text-align: right;vertical-align: middle;}
.css_facedocumentfrontfound_det_line {height:0px;text-align: right;}
.css_barcodefound_det_label {text-align: right;vertical-align: middle;}
.css_barcodefound_det_line {height:0px;text-align: right;}
.css_resultcomparationfaces_det_label {text-align: right;vertical-align: middle;}
.css_resultcomparationfaces_det_line {height:0px;text-align: right;}
.css_comparationfacesaproved_det_label {text-align: right;vertical-align: middle;}
.css_comparationfacesaproved_det_line {height:0px;text-align: right;}
.css_extras_det_label {text-align: right;vertical-align: middle;}
.css_extras_det_line {height:0px;text-align: right;}
.css_numberphone_det_label {text-align: right;vertical-align: middle;}
.css_numberphone_det_line {height:0px;text-align: right;}
.css_codfingerprint_det_label {text-align: right;vertical-align: middle;}
.css_codfingerprint_det_line {height:0px;text-align: right;}
.css_resultqrcode_det_label {text-align: right;vertical-align: middle;}
.css_resultqrcode_det_line {height:0px;text-align: right;}
.css_dactilarcode_det_label {text-align: right;vertical-align: middle;}
.css_dactilarcode_det_line {height:0px;text-align: right;}
.css_reponsecontrollist_det_label {text-align: right;vertical-align: middle;}
.css_reponsecontrollist_det_line {height:0px;text-align: right;}
.css_images_det_label {text-align: right;vertical-align: middle;}
.css_images_det_line {height:0px;text-align: right;}
.css_signeddocuments_det_label {text-align: right;vertical-align: middle;}
.css_signeddocuments_det_line {height:0px;text-align: right;}
.css_scores_det_label {text-align: right;vertical-align: middle;}
.css_scores_det_line {height:0px;text-align: right;}
.css_response_ani_det_label {text-align: right;vertical-align: middle;}
.css_response_ani_det_line {height:0px;text-align: right;}
.css_parameters_det_label {text-align: right;vertical-align: middle;}
.css_parameters_det_line {height:0px;text-align: right;}
.css_statesignaturedocument_det_label {text-align: right;vertical-align: middle;}
.css_statesignaturedocument_det_line {height:0px;text-align: right;}
.css_json_response_det_label {text-align: right;vertical-align: middle;}
.css_json_response_det_line {height:0px;text-align: right;}
.css_estadoreg_det_label {text-align: right;vertical-align: middle;}
.css_estadoreg_det_line {height:0px;text-align: right;}
