.css_record_label { }
.css_record_line {text-decoration:underline;text-align:left;vertical-align:top;}
.css_record_obj {text-align:left;}
.css_startingdate_label { }
.css_startingdate_line {text-decoration:underline;text-align:left;vertical-align:super;}
.css_startingdate_obj { }
.css_idnumber_label { }
.css_idnumber_line {text-decoration:underline;text-align:left;vertical-align:super;}
.css_idnumber_obj { }
.css_firstname_label { }
.css_firstname_line {text-decoration:underline;text-align:left;vertical-align:super;}
.css_firstname_obj { }
.css_firstsurname_label { }
.css_firstsurname_line {text-decoration:underline;text-align:left;vertical-align:super;}
.css_firstsurname_obj { }
.css_transactiontypename_label { }
.css_transactiontypename_line {text-decoration:underline;text-align:left;vertical-align:super;}
.css_transactiontypename_obj { }
.css_transactionid_label { }
.css_transactionid_line {text-decoration:underline;text-align:left;vertical-align:super;}
.css_transactionid_obj { }
.css_extras_label { }
.css_extras_line { }
.css_extras_obj { }
