.css_record_det_label {text-align: right;vertical-align: middle;}
.css_record_det_line {height:0px;text-align: right;}
.css_uid_det_label {text-align: right;vertical-align: middle;}
.css_uid_det_line {height:0px;text-align: right;}
.css_startingdate_det_label {text-align: right;vertical-align: middle;}
.css_startingdate_det_line {height:0px;text-align: right;}
.css_creationdate_det_label {text-align: right;vertical-align: middle;}
.css_creationdate_det_line {height:0px;text-align: right;}
.css_creationip_det_label {text-align: right;vertical-align: middle;}
.css_creationip_det_line {height:0px;text-align: right;}
.css_documenttype_det_label {text-align: right;vertical-align: middle;}
.css_documenttype_det_line {height:0px;text-align: right;}
.css_idnumber_det_label {text-align: right;vertical-align: middle;}
.css_idnumber_det_line {height:0px;text-align: right;}
.css_firstname_det_label {text-align: right;vertical-align: middle;}
.css_firstname_det_line {height:0px;text-align: right;}
.css_secondname_det_label {text-align: right;vertical-align: middle;}
.css_secondname_det_line {height:0px;text-align: right;}
.css_firstsurname_det_label {text-align: right;vertical-align: middle;}
.css_firstsurname_det_line {height:0px;text-align: right;}
.css_secondsurname_det_label {text-align: right;vertical-align: middle;}
.css_secondsurname_det_line {height:0px;text-align: right;}
.css_gender_det_label {text-align: right;vertical-align: middle;}
.css_gender_det_line {height:0px;text-align: right;}
.css_birthdate_det_label {text-align: right;vertical-align: middle;}
.css_birthdate_det_line {height:0px;text-align: right;}
.css_placebirth_det_label {text-align: right;vertical-align: middle;}
.css_placebirth_det_line {height:0px;text-align: right;}
.css_transactiontype_det_label {text-align: right;vertical-align: middle;}
.css_transactiontype_det_line {height:0px;text-align: right;}
.css_transactiontypename_det_label {text-align: right;vertical-align: middle;}
.css_transactiontypename_det_line {height:0px;text-align: right;}
.css_issuedate_det_label {text-align: right;vertical-align: middle;}
.css_issuedate_det_line {height:0px;text-align: right;}
.css_adoprojectid_det_label {text-align: right;vertical-align: middle;}
.css_adoprojectid_det_line {height:0px;text-align: right;}
.css_transactionid_det_label {text-align: right;vertical-align: middle;}
.css_transactionid_det_line {height:0px;text-align: right;}
.css_productid_det_label {text-align: right;vertical-align: middle;}
.css_productid_det_line {height:0px;text-align: right;}
.css_resultcomparationfaces_det_label {text-align: right;vertical-align: middle;}
.css_resultcomparationfaces_det_line {height:0px;text-align: right;}
.css_comparationfacesaproved_det_label {text-align: right;vertical-align: middle;}
.css_comparationfacesaproved_det_line {height:0px;text-align: right;}
.css_extras_det_label {text-align: right;vertical-align: middle;}
.css_extras_det_line {height:0px;text-align: right;}
.css_response_ani_det_label {text-align: right;vertical-align: middle;}
.css_response_ani_det_line {height:0px;text-align: right;}
